.centermiddle {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 300px;
	height: 300px;
}

.form-container {
	border: 1px solid #f2e3d2;
	background: #c9b7a2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2e3d2), to(#c9b7a2));
	background: -webkit-linear-gradient(top, #f2e3d2, #c9b7a2);
	background: -moz-linear-gradient(top, #f2e3d2, #c9b7a2);
	background: -ms-linear-gradient(top, #f2e3d2, #c9b7a2);
	background: -o-linear-gradient(top, #f2e3d2, #c9b7a2);
	background-image: -ms-linear-gradient(top, #f2e3d2 0%, #c9b7a2 100%);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
	-moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
	box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
	font-family: 'Helvetica Neue',Helvetica,sans-serif;
	text-decoration: none;
	vertical-align: middle;
	min-width:300px;
	padding:20px;
	width:300px;
}

.form-field {
	border: 1px solid #c9b7a2;
	background: #ffffff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #c9b7a2;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	padding:8px;
	margin-bottom:20px;
	width:280px;
}

.form-field:focus {
	background: #ffffe0;
	color: #725129;
}

.form-container h2 {
	text-shadow: #fdf2e4 0 1px 0;
	font-size:18px;
	margin: 0 0 10px 0;
	font-weight:bold;
	text-align:center;
}

.form-title {
	margin-bottom:10px;
	color: #725129;
	text-shadow: #fdf2e4 0 1px 0;
}

.submit-container {
	margin:8px 0;
	text-align:right;
}

.submit-button {
	border: 1px solid #447314;
	background: #388a6b;
	background: -webkit-gradient(linear, left top, left bottom, from(#31795e), to(#388a6b));
	background: -webkit-linear-gradient(top, #31795e, #388a6b);
	background: -moz-linear-gradient(top, #31795e, #388a6b);
	background: -ms-linear-gradient(top, #31795e, #388a6b);
	background: -o-linear-gradient(top, #31795e, #388a6b);
	background-image: -ms-linear-gradient(top, #31795e 0%, #388a6b 100%);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #addc7e 0 1px 0;
	color: #ffffff;
	font-family: helvetica, serif;
	padding: 8.5px 18px;
	font-size: 14px;
	text-decoration: none;
	vertical-align: middle;
}

.submit-button:hover {
	border: 1px solid #447314;
	text-shadow: #31540c 0 1px 0;
	background: #388a6b;
	background: -webkit-gradient(linear, left top, left bottom, from(#31795e), to(#388a6b));
	background: -webkit-linear-gradient(top, #31795e, #388a6b);
	background: -moz-linear-gradient(top, #31795e, #388a6b);
	background: -ms-linear-gradient(top, #31795e, #388a6b);
	background: -o-linear-gradient(top, #31795e, #388a6b);
	background-image: -ms-linear-gradient(top, #31795e 0%, #388a6b 100%);
	color: #fff;
}

.submit-button:active {
	text-shadow: #31540c 0 1px 0;
	border: 1px solid #447314;
	background: #31795e;
	background: -webkit-gradient(linear, left top, left bottom, from(#388a6b), to(#388a6b));
	background: -webkit-linear-gradient(top, #388a6b, #31795e);
	background: -moz-linear-gradient(top, #388a6b, #31795e);
	background: -ms-linear-gradient(top, #388a6b, #31795e);
	background: -o-linear-gradient(top, #388a6b, #31795e);
	background-image: -ms-linear-gradient(top, #388a6b 0%, #31795e 100%);
	color: #fff;
}
